Client/Service References/WeatherService/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Services" />
  <xs:element name="GetWeatherByGeoId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CityName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWeatherByGeoIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Services" minOccurs="0" name="GetWeatherByGeoIdResult" nillable="true" type="q1:Weather" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>